{{> head }}

{{> navbar }}

<div class="row">
  <div class="col-8">
            <h1>Lenguaje de programacion GO</h1>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi iste mollitia voluptatum nostrum aut veniam maiores ea deleniti voluptate. Ex excepturi rem distinctio blanditiis! Quo est harum optio incidunt repellat.
            </p>
  </div>

  <div class="col-4">
      <img src="assets/img/GO.jpg" class="img-thumbail">
  </div>
</div>

{{> footer }}